{% extends "weight_interface/base.html" %}
{% block title %}
Create new document
{% endblock %}

{% block content %}
{%if user.is_authenticated%}

    <html>
            <head>
                {%load static%}
                <link  rel="stylesheet" href="{% static 'css/auxiliarymaterials_post.css' %}">
                <!--<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
                      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
                      crossorigin="anonymous">-->
            </head>
           <body>
                <div class="bod">
                    <div class="content">
                       <form method="post"  >
                           {% csrf_token %}
                           {{form.errors}}
                                <h3 style="color: white;">Зміна даних </h3>
                                <fieldset>
                                   <legend><h4 style="color: white;">Загальна інформація</h4></legend>

                                    <div class="base1">
                                        <div class="row">
                                            <div class="first">Від </div>
                                            {% if auxiliarymaterial %}
                                            <div class="hidn">{{auxiliarymaterial.Date|date:"j.n.Y"}}</div>
                                            {% endif %}
                                            <div class="first">№ ТТН </div>
                                            <div class="inp">{{form.Number_of_CN}}</div>
                                            <div class="second">Постачал</div>
                                            <div class="inp">{{form.Supplier}}</div>
                                            <div class="second">Продукція</div>
                                            <div class="inp">{{form.Product_name}}</div>

                                        </div>
                                        <div class="row">
                                            <div class="first">Автомобіль </div>
                                            <div class="inp">{{form.Car_license_plate}}</div>
                                            <div class="first">Причеп </div>
                                            <div class="inp">{{form.Trailer_license_plate}}</div>
                                            <div class="first">Водій </div>
                                            <div class="inp">{{form.Driver}}</div>
                                        </div>
                                    </div>
                                </fieldset>

                                <span>{{ error }}</span>
                              <fieldset>
                                   <legend><h4 style="color: white;">Зважування</h4></legend>
                                    <div class="base3left">
                                        <div class="row">
                                            <div class="third">Час заїзду</div>
                                            <div class="inp">{{form.Time_1st_weighing}}</div>
                                            <div class="third">Вага БРУТ </div>
                                            <div class="inp">{{form.Gross_weight_kilos}}</div>
                                            <div class="button "><button name="btn-brut" type="button"
                                                                     class="buttons-weight">Вага брутто</button></div>
                                        </div>
                                             <div class="row">
                                            <div class="third">Час виїзду</div>
                                            <div class="inp">{{form.Time_2nd_weighing}}</div>
                                            <div class="third">Вага ТАРИ </div>
                                            <div class="inp">{{form.Tare_weight_kilos}}</div>
                                            <div><button name="tare" type="button"  class="buttons-weight">Вага тари</button></div>
                                        </div>
                                        <div class="row">
                                            <div class="third">НЕТТО(док)</div>
                                            <div class="inp">{{form.Weight_on_invoice_kilos}}</div>
                                            <div class="third">Вага НЕТ </div>
                                            <div class="inp">{{form.Net_weight_kilos}}</div>
                                        </div>
                                        <div class="row">
                                            <div class="third">Нестача</div>
                                            <div class="inp">{{form.Lack_of}}</div>
                                            <div><button name="btn-net" type="button" class="buttons-weight">Нестача</button></div>
                                            <div class="third">Ваговик </div>
                                            <div class="inp">{{form.Weightman}}</div>
                                            <div ><button type="submit" class="button-success">Провести</button></div>
                                        </div>
                                    </div>
                              </fieldset>
                       </form>
                    </div>
                </div>
        </body>
    </html>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const grossWeightInput = document.querySelector('.inp input[name="Gross_weight_kilos"]');
        const brutButton = document.querySelector('.button button[name="btn-brut"]');

        brutButton.addEventListener('click', function() {
            // Генерація випадкового числа в межах від 37800 до 40500
            const randomNumber = Math.floor(Math.random() * (40500 - 37800 + 1)) + 37800;

            // Запис випадкового числа в поле Gross_weight_kilos
            grossWeightInput. value = randomNumber.toFixed(2);
        });
    });
</script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const tareWeightInput = document.querySelector('.inp input[name="Tare_weight_kilos"]');
        const grossWeightInput = document.querySelector('.inp input[name="Gross_weight_kilos"]');
        const actualWeightInput = document.querySelector('.inp input[name="Net_weight_kilos"]');
        const tareButton = document.querySelector('button[name="tare"]');

        tareButton.addEventListener('click', function() {
            // Генерація випадкового числа у діапазоні ±5% від 16500
            const randomNumber = 16500 * (1 + (Math.random() * 0.1 - 0.05)); // Від 95% до 105% від 16500

            // Встановлення значення у поле вводу
            tareWeightInput.value = randomNumber.toFixed(2); // Встановлюємо результат з двома знаками після коми

            // Перевірка чи є значення у полі ваги тари та реєстрація результату
            if (tareWeightInput.value && grossWeightInput.value) {
                const tareWeight = parseFloat(tareWeightInput.value);
                const grossWeight = parseFloat(grossWeightInput.value);

                // Виконання обчислень
                const result = grossWeight - tareWeight;

                // Перевірка на NaN та встановлення результату у поле вводу
                if (!isNaN(result)) {
                    actualWeightInput.value = result.toFixed(2); // Встановлюємо результат з двома знаками після коми
                } else {
                    actualWeightInput.value = "Error";
                }
            }
        });
    });
</script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const actualWeightInput = document.querySelector('.inp input[name="Weight_on_invoice_kilos"]');
        const weightNetInput = document.querySelector('.inp input[name="Net_weight_kilos"]');
        const lackOfInput = document.querySelector('.inp input[name="Lack_of"]');
        const btnNet = document.querySelector('button[name="btn-net"]');

        btnNet.addEventListener('click', function() {
            if (actualWeightInput.value && weightNetInput. value) {
                const actualWeight = parseFloat(actualWeightInput.value);
                const weightNet = parseFloat(weightNetInput.value);

                // Виконання обчислень
                const lackOfValue = weightNet - actualWeight;

                // Перевірка на NaN та встановлення результату у поле вводу
                if (!isNaN(lackOfValue)) {
                    lackOfInput.value = lackOfValue.toFixed(2); // Встановлюємо результат з двома знаками після коми
                } else {
                    lackOfInput.value = "Error";
                }
            }
        });
    });
</script>
{% endif %}
{% endblock %}