{% extends "weight_interface/base.html" %}

    <head>


	</head>
{% block content %}
    <h2 style="color: #C5CCC8;">Зернові культури</h2>
    {%if user.is_authenticated%}
        {% if current_page %}

                <table class="table">
                     <thead>
                        <tr>
                            <th>№</th>
                            <th>Дата поставки</th>
                            <th>Постачальник</th>
                            <th>Місце завантаження</th>
                            <th>Одержувач</th>
                            <th>Умова поставки</th>
                            <th>№ аналізу</th>
                            <th>№ ТТН</th>
                            <th>№ авто</th>
                            <th>№ причепа</th>
                            <th>Вага брутто,кг</th>
                            <th>Вага тари,кг</th>
                            <th>Вага по накладній,кг</th>
                            <th>Вага фактична, кг</th>
                            <th>Нестача</th>
                            <th>Водій</th>
                            <th>Телефон водія</th>
                            <th>Перевізник</th>
                            <th>Час заїзду</th>
                            <th>Час виїзду</th>
                            <th>Ваговик</th>
                            <th colspan="2">Дії</th>

                        </tr>
                    </thead>
                    <tbody>
                    {% for cerealcrop in current_page %}


                            <tr>
                                <td>{{cerealcrop.pk}}</td>
                                <td>{{cerealcrop.Date|date:"j.n.Y"}}</td>
                                <td style="white-space: nowrap;">{{cerealcrop.Supplier}}</td>
                                <td style="white-space: nowrap;">{{cerealcrop.Place_of_download}}</td>
                                <td>{{cerealcrop.Recipient}}</td>
                                <td>{{cerealcrop.Delivery_condition}}</td>
                                <td>{{cerealcrop.Analysis_number}}</td>
                                <td>{{cerealcrop.Number_of_CN}}</td>
                                <td style="white-space: nowrap;">{{cerealcrop.Car_license_plate}}</td>
                                <td style="white-space: nowrap;">{{cerealcrop.Trailer_license_plate}}</td>
                                <td>{{cerealcrop.Gross_weight_kilos}}</td>
                                <td>{{cerealcrop.Tare_weight_kilos}}</td>
                                <td>{{cerealcrop.Weight_on_invoice_kilos}}</td>
                                <td>{{cerealcrop.Actual_weight}}</td>
                                <td>{{cerealcrop.Lack_of}}</td>
                                <td style="white-space: nowrap;">{{cerealcrop.Driver}}</td>
                                <td>{{cerealcrop.Driver_phone}}</td>
                                <td style="white-space: nowrap;">{{cerealcrop.Carrier}}</td>
                                <td>{{cerealcrop.Check_in_time|time:"H:i"}}</td>
                                <td>{{cerealcrop.Departure_time|time:"H:i"}}</td>
                                <td style="white-space: nowrap;">{{cerealcrop.Weightman}}</td>
                                <style>
                                    .btn-change a,
                                    .btn-delete a {
                                        color: inherit !important; /* Встановлюємо спадковий колір тексту */
                                        text-decoration: none; /* Забираємо підкреслення */
                                    }
                                </style>
                                <td >
                                    {% if cerealcrop.Tare_weight_kilos is None or cerealcrop.Actual_weight is None or cerealcrop.Lack_of is None or cerealcrop.Departure_time is None %}
                                        <button type="button" class="btn-warning">
                                            <span aria-hidden="true"><a href="{% url 'cerealcrops_detail' cerealcrop.id %}">
                                                <i class="bi bi-pencil-square"></i></a></span>
                                        </button>
                                    {%else%}
                                        <button type="button" class="btn-change">
                                            <span aria-hidden="true"><a href="{% url 'cerealcrops_detail' cerealcrop.id %}">
                                                <i class="bi bi-pencil-square"></i></a></span>
                                        </button>
                                    {% endif %}
                                </td>
                                <td >
                                    <form style="margin:0px;" method="post" action="{% url 'delete_cerealcrop' cerealcrop.id %}">
                                        {% csrf_token %}
                                        <button type="submit" class="btn-delete" onclick="return confirm
                                            ('Ви впевнені у видалені цієї інформації?')">
                                            <span  aria-hidden="true"><i class="bi bi-x-square-fill"></i></span>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}

                    </tbody>
                </table>
        {% endif %}
    {% endif %}
{% endblock %}
{% block pagin %}
     <main>
                <div class="pagination" >
                    <span class="step-links">
                        {% if current_page.has_previous %}
                            <a href="?page=1">&laquo; перша</a>
                            <a href="?page={{ current_page.previous_page_number }}">попередня</a>
                        {% endif %}

                        <span class="current-page">
                            Сторінка {{ current_page.number }} з {{ current_page.paginator.num_pages }}.
                        </span>

                        {% if current_page.has_next %}
                            <a href="?page={{ current_page.next_page_number }}">наступна</a>
                            <a href="?page={{ current_page.paginator.num_pages }}">остання &raquo;</a>
                        {% endif %}
                    </span>
                </div>
             </main>
{% endblock %}
