{% extends "weight_interface/base.html" %}

    <head>


	</head>
{% block content %}
    <h2 style="color: #C5CCC8;">Готова продукція</h2>
    {% if current_page %}

			<table class="table">
                 <thead>
					<tr>
						<th>№</th>
						<th>Стан</th>
						<th>Дата</th>
						<th>Покупець</th>
						<th>Продукція</th>
						<th>Поточна тара</th>
						<th>Вага брутто,кг</th>
						<th>Вага тари,кг</th>
						<th>Вага нетто,кг</th>
						<th>Ціна</th>
						<th>Перевізник</th>
						<th>Водій</th>
						<th>Телефон водія</th>
						<th>Пункт вивантаження</th>
						<th>№ авто</th>
						<th>№ причепа</th>
						<th>Час виїзду</th>
						<th>Ваговик</th>
						<th colspan="2">Дії</th>

					</tr>
				</thead>
				<tbody>
                {% for log_shipped_product in current_page %}
                        <tr>
							<td>{{log_shipped_product.pk}}</td>
							<td>{{log_shipped_product.Status}}</td>
							<td>{{log_shipped_product.Date|date:"j.n.Y"}}</td>
							<td style="white-space: nowrap;">{{log_shipped_product.Customer}}</td>
							<td>{{log_shipped_product.Product}}</td>
							<td>{{log_shipped_product.Current_container}}</td>
							<td>{{log_shipped_product.Gross_weight_kilos}}</td>
							<td>{{log_shipped_product.Tare_weight_kilos}}</td>
							<td>{{log_shipped_product.Net_weight_kilos}}</td>
							<td>{{log_shipped_product.Price}}</td>
							<td style="white-space: nowrap;">{{log_shipped_product.Carrier}}</td>
							<td style="white-space: nowrap;">{{log_shipped_product.Driver}}</td>
							<td>{{log_shipped_product.Driver_phone}}</td>
							<td style="white-space: nowrap;">{{log_shipped_product.Unloading_point}}</td>
							<td style="white-space: nowrap;">{{log_shipped_product.Car_license_plate}}</td>
							<td style="white-space: nowrap;">{{log_shipped_product.Trailer_license_plate}}</td>
							<td>{{log_shipped_product.Departure_time|time:"H:i"}}</td>
							<td style="white-space: nowrap;">{{log_shipped_product.Weightman}}</td>
							<style>
								.btn-change a,
								.btn-delete a {
									color: inherit !important; /* Встановлюємо спадковий колір тексту */
									text-decoration: none; /* Забираємо підкреслення */
								}
							</style>
							<td >
								{% if log_shipped_product.Tare_weight_kilos is None or log_shipped_product.Net_weight_kilos is None or log_shipped_product.Gross_weight_kilos is None %}
									<button type="button" class="btn-warning">
										<span aria-hidden="true"><a href="{% url 'logshippedproduct_detail' log_shipped_product.id %}">
											<i class="bi bi-pencil-square"></i></a></span>
									</button>
								{%else%}
									<button type="button" class="btn-change">
										<span aria-hidden="true"><a href="{% url 'logshippedproduct_detail' log_shipped_product.id %}">
											<i class="bi bi-pencil-square"></i></a></span>
									</button>
								{% endif %}
							</td>
                            <td >
                                <form style="margin:0px;" method="post" action="{% url 'delete_logshippedproduct' log_shipped_product.id %}">
									{% csrf_token %}
									<button type="submit" class="btn-delete" onclick="return confirm
										 ('Ви впевнені у видалені цієї інформації ?')" >
										<span  aria-hidden="true"><i class="bi bi-x-square-fill"></i></span>
									</button>
								</form>
                            </td>
                        </tr>
                    {% endfor %}

				</tbody>
            </table>
{% endif %}
{% endblock %}
{% block pagin %}
     <main>
		<div class="pagination" >
			<span class="step-links">
				{% if current_page.has_previous %}
					<a href="?page=1">&laquo; перша</a>
					<a href="?page={{ current_page.previous_page_number }}">попередня</a>
				{% endif %}

				<span class="current-page">
					Сторінка {{ current_page.number }} з {{ current_page.paginator.num_pages }}.
				</span>

				{% if current_page.has_next %}
					<a href="?page={{ current_page.next_page_number }}">наступна</a>
					<a href="?page={{ current_page.paginator.num_pages }}">остання &raquo;</a>
				{% endif %}
			</span>
		</div>
	 </main>
{% endblock %}
