{%load static%}
{% block content %}

<html lang="en" dir="ltr">
  <head>
    <link  rel="stylesheet" href="{% static 'css/login.css' %}">
    <meta charset="UTF-8">
    <title> Responsive Login Form | CodingLab </title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="container">
      <form method="post">
         {% csrf_token %}
        <div class="title">Login</div>
        <div class="input-box underline">
          <input type="text" name="username" placeholder="Enter Your Login" required>
          <div class="underline"></div>
        </div>
        <div class="input-box">
          <input type="password" name="password" placeholder="Enter Your Password" required>
          <div class="underline"></div>
        </div>
         {{form.errors}}
        <div class="input-box button">
          <input type="submit" value="Continue">
        </div>

      </form>
    </div>
    <img class="img_logo1" src="/static/weight_interface/pngegg1.png" >
    <img class="img_logo2" src="/static/weight_interface/pngegg2.png" >
    <h1 class="logo-word">Intercorn</h1>
    <h5 class="developer">Розробник Трегубов Данило Дмитрович &copy;</h5>
  </body>
</html>
{% endblock %}